<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ user.nombre }} 
    </ion-title>
    <ion-button color="primary" (click)="salir()">Salir</ion-button>
  </ion-toolbar>
</ion-header> 
 
<ion-content>
  <!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>  -->
  <!-- <div id="map_canvas">
    <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>
  </div> -->
  <agm-map [style.height.px]="height" [latitude]="user.lat" [longitude]="user.lng" [zoom]="16">
     <agm-marker [latitude]="user.lat" [longitude]="user.lng"></agm-marker>
  </agm-map>
 
</ion-content>
 